<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Delivery</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Delivery</a>
      
     
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container-fluid" style="
  margin-left: 0px;
  margin-right: 0px;
">
    <div class="row" >
      <div class="col-md-12 text-center">
        <h1 class="mt-5">Real Time Tasks</h1>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Task ID</th>
                <th>Task name</th>
                <th>Priority</th>
                <th>Creation Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td></td>
                <td><button type="button" class="btn btn-success">Accept</button>
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
      
      </div>
    </div>
  </div>



  <div class="container-fluid" style="
  margin-left: 0px;
  margin-right: 0px;
">
    <div class="row" >
      <div class="col-md-12 text-center">
        <h1 class="mt-5">Tasks</h1>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Task ID</th>
                <th>Task name</th>
                <th>State</th>
                <th>Creation Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      </div>
    </div>
  </div>






















  <!-- Bootstrap core JavaScript -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

</body>

</html>
